r-button {
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: var(--roundness);
    box-sizing: border-box;
    gap: 5px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.2s;
    width: 100%;
    font-size: 100%;

    &.primary {
      background-color: var(--primary);
      color: var(--primary-foreground);
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03);

      &:hover {
        background-color: color-mix(
          in srgb,
          var(--primary-foreground) 10%,
          var(--primary)
        );
      }
    }

    &.secondary {
      background-color: var(--secondary);
      border: 1px solid var(--secondary);

      &:hover {
        background-color: color-mix(
          in srgb,
          var(--secondary-foreground) 10%,
          var(--secondary)
        );
      }
    }

    &.ghost {
      border: 1px solid transparent;
      background-color: transparent;

      &:hover {
        background-color: var(--secondary);
      }
    }

    &.secondary,
    &.ghost {
      color: var(--secondary-foreground);
    }

    &:active {
      transform: scale(0.97);
      transition: 0.1s;
    }

    &:hover {
      cursor: pointer;
      transition: 0.2s;
    }
  }
}
