r-button {
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.8rem;
    padding-inline: var(--button-padding-inline);
    border-radius: var(--roundness);
    box-sizing: border-box;
    gap: 0.5rem;
    position: relative;
    overflow: hidden;
    transition: background-color 0.2s;
    width: 100%;
    font-size: 100%;
    border: none;

    &:not(:has(span)) {
      &:has(.icon) {
        width: 2.8rem;
      }
    }

    &.primary {
      background-color: var(--primary);
      color: var(--primary-foreground);
      border: 1px solid var(--primary-border-color);

      .icon {
        color: var(--primary-foreground);
      }

      @media (width > 768px) {
        &:hover {
          background-color: color-mix(
            in srgb,
            var(--primary-foreground) 5%,
            var(--primary)
          );
        }
      }
    }

    &.secondary {
      background-color: var(--secondary);
      border: 1px solid var(--secondary-border-color);

      @media (width > 768px) {
        &:hover {
          background-color: color-mix(
            in srgb,
            var(--secondary-foreground) 5%,
            var(--secondary)
          );
        }
      }
    }

    &.ghost {
      background-color: transparent;

      @media (width > 768px) {
        &:hover {
          background-color: var(--secondary);
        }
      }
    }

    &.secondary,
    &.ghost {
      color: var(--secondary-foreground);
    }

    &:not(:disabled) {
      &:active {
        transform: scale(0.97);
        transition: 0.1s;
      }

      @media (width > 768px) {
        &:hover {
          cursor: pointer;
          transition: 0.2s;
        }
      }
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
