r-button {
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.8rem;
    padding-inline: var(--button-padding-inline);
    border-radius: var(--roundness);
    box-sizing: border-box;
    gap: 0.5rem;
    position: relative;
    overflow: hidden;
    transition: background-color 0.2s;
    width: 100%;
    font-size: 100%;
    border: none;

    &.primary {
      background-color: var(--primary);
      color: var(--primary-foreground);

      .icon {
        color: var(--primary-foreground);
      }

      &:hover {
        background-color: color-mix(
          in srgb,
          var(--primary-foreground) 10%,
          var(--primary)
        );
      }
    }

    &.secondary {
      background-color: var(--secondary);

      &:hover {
        background-color: color-mix(
          in srgb,
          var(--secondary-foreground) 10%,
          var(--secondary)
        );
      }
    }

    &.ghost {
      background-color: transparent;

      &:hover {
        background-color: var(--secondary);
      }
    }

    &.secondary,
    &.ghost {
      color: var(--secondary-foreground);
    }

    &:active {
      transform: scale(0.97);
      transition: 0.1s;
    }

    &:hover {
      cursor: pointer;
      transition: 0.2s;
    }
  }
}
