r-dialog {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 1000;

  & > .background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100vw;
    backdrop-filter: blur(2px);
    pointer-events: all;
    background: #09090b08;
    z-index: 1001;

    &.click-outside {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .dialog {
    background: var(--background);
    box-shadow: 0 10px 15px 5px rgba(1, 1, 1, 0.01);
    padding: 1rem;
    border-radius: calc(var(--roundness) + 2px);
    pointer-events: all;
    position: relative;
    z-index: 1002;
  }
}
