r-tab {
  height: 100%;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-inline: var(--button-padding-inline);
    border-radius: var(--roundness);
    box-sizing: border-box;
    gap: 0.5rem;
    position: relative;
    overflow: hidden;
    transition: 0.2s;
    width: 100%;
    font-size: 100%;
    border: none;
    user-select: none;

    &:hover {
      cursor: pointer;
    }

    &.selected {
      background-color: color-mix(
        in srgb,
        var(--secondary-foreground) 5%,
        var(--secondary)
      );
    }

    &:not(.selected) {
      &.highlighted {
        background-color: color-mix(
          in srgb,
          var(--secondary-foreground) 5%,
          var(--secondary)
        );
      }
    }
  }
}
