r-table {
  display: flex;
  flex: 1;
  width: 100px;
  flex-direction: column;
  align-items: flex-start;
  overflow-x: auto;
  scrollbar-width: thin;
  border: 1px solid var(--secondary);
  background: var(--secondary);
  position: relative;
  height: 100%;
  box-sizing: border-box;
  border-radius: var(--roundness);

  .scroll-section {
    overflow-y: auto;
    scrollbar-width: thin;
    overscroll-behavior-block: none;
  }
}

r-row {
  .row-container {
    box-sizing: border-box;
    display: flex;
    border-top: 1px solid var(--secondary);
    height: 30px;
    background: var(--background);
    color: var(--foreground);

    &.header {
      background: color-mix(in srgb, white 50%, var(--secondary));
      color: var(--primary-foreground);
      min-height: 30px;
      border-top: 0;
    }

    &:hover {
      &.clickable {
        cursor: pointer;
        &:not(.header) {
          background-color: var(--secondary);
        }
      }
    }

    &.highlighted {
      background: color-mix(in srgb, white 95%, var(--primary));
    }
  }
}

r-row-item {
  .row-item-container {
    border-right: 1px solid var(--secondary);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 100%;
    padding-inline: 10px;
  }
}
