r-table {
  display: flex;
  flex: 1;
  width: 100px;
  flex-direction: column;
  align-items: flex-start;
  overflow-x: auto;
  overscroll-behavior-inline: none;
  scrollbar-width: thin;
  border: 1px solid var(--border-color);
  background-color: color-mix(in srgb, var(--foreground) 5%, var(--background));
  position: relative;
  height: 100%;
  box-sizing: border-box;
  border-radius: var(--roundness);

  .scroll-section {
    overflow-y: auto;
    scrollbar-width: thin;
    overscroll-behavior-block: none;

    r-row {
      &:first-child {
        .row-container {
          border-top: 0;
        }
      }
    }
  }
}

r-row {
  .row-container {
    box-sizing: border-box;
    display: flex;
    border-top: 1px solid var(--border-color);
    height: 30px;
    background: var(--background);
    color: var(--foreground);

    &.header {
      background: color-mix(
        in srgb,
        var(--background) 50%,
        color-mix(in srgb, var(--foreground) 5%, var(--background))
      );
      color: var(--primary-foreground);
      min-height: 30px;
      border-top: 0;
      border-bottom: 1px solid var(--border-color);
    }

    &.subheader {
      background: var(--background);
      color: var(--primary-foreground);
      min-height: 30px;
      height: auto;
      border-top: 0;
      border-bottom: 1px solid var(--border-color);

      .row-item-container {
        padding: 0.5rem;
      }
    }

    &:hover {
      &.clickable {
        cursor: pointer;
        &:not(.header) {
          background: color-mix(
            in srgb,
            var(--foreground) 5%,
            var(--background)
          );
        }
      }
    }

    &.highlighted {
      background: color-mix(in srgb, white 95%, var(--primary));
    }
  }
}

r-row-item {
  &:not(&:last-child) {
    .row-item-container {
      border-right: 1px solid var(--border-color);
    }
  }
  .row-item-container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 100%;
    padding-inline: 10px;
  }
}
