r-tabs {
  .tabs {
    display: flex;
    gap: 0.4rem;
    overflow-x: auto;
    height: 2.8rem;
    background-color: color-mix(in srgb, white 30%, var(--secondary));
    padding: 0.3rem;
    box-sizing: border-box;
    align-items: center;
    border-radius: var(--roundness);
  }
}
