r-vertical-nav {
  .nav-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    user-select: none;
    width: var(--vertical-nav-width);
    transition: width ease 0.2s;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--border-color) var(--bg-color);
    height: 100%;
    padding-right: 0.75rem;

    r-vertical-nav-group {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;

      .group-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 2.8rem;
        padding-inline: 1rem 0.8rem;
        transition: padding-inline ease 0.2s;
        border-radius: var(--roundness);

        &:hover {
          cursor: pointer;
          background-color: color-mix(
            in srgb,
            var(--foreground) 5%,
            var(--background)
          );
          transition: 0.2s;
        }

        .left {
          display: flex;
          align-items: center;
          flex: 1;
        }

        .group-content {
          display: flex;
          align-items: center;
          gap: 0.7rem;
          transition: opacity ease 0.2s, display ease 0.2s allow-discrete;
        }

        .group-arrow {
          display: flex;
          align-items: center;
          transition: opacity ease 0.2s, display ease 0.2s allow-discrete;
        }
      }

      .nested-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        padding-left: 1rem;
        transition: padding-left ease 0.2s;
      }
    }

    r-vertical-nav-item {
      .item-wrapper {
        display: flex;
        height: 2.8rem;
        padding-inline: 1rem;
        border-radius: var(--roundness);
        opacity: 1;
        transition: opacity ease 0.2s 0.2s allow-discrete,
          padding-inline ease 0.2s;

        @starting-style {
          opacity: 0;
        }

        &:hover {
          cursor: pointer;
          background-color: color-mix(
            in srgb,
            var(--foreground) 5%,
            var(--background)
          );
          transition: 0.2s;
        }

        &.active {
          background-color: color-mix(
            in srgb,
            var(--foreground) 5%,
            var(--background)
          );
        }

        .item-content {
          display: flex;
          align-items: center;
          gap: 0.7rem;
          flex: 1;
          transition: opacity ease 0.2s, display ease 0.2s allow-discrete;
        }
      }
    }

    r-vertical-nav-section {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;

      .section-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
      }

      .section-title {
        display: flex;
        align-items: center;
        gap: 0.7rem;
        padding-inline: 1rem;
        height: 2rem;
        font-size: 0.75rem;
        text-transform: uppercase;
        color: var(--foreground-secondary);
        font-weight: 600;
        letter-spacing: 0.05em;

        .title {
          flex: 1;
        }
      }

      .section-content {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
      }
    }

    &.extended {
      width: var(--vertical-nav-width);

      r-vertical-nav-group {
        .group-wrapper {
          padding-inline: 1rem 0.8rem;

          .group-content {
            opacity: 1;
            display: flex;
            transition-delay: 0.2s;

            @starting-style {
              opacity: 0;
            }
          }

          .group-arrow {
            opacity: 1;
            display: flex;
            transition-delay: 0.2s;

            @starting-style {
              opacity: 0;
            }
          }
        }
        .nested-wrapper {
          padding-left: 1rem;
        }
      }

      r-vertical-nav-item {
        .item-wrapper {
          padding-inline: 1rem;

          .item-content {
            opacity: 1;
            display: flex;
            transition-delay: 0.2s;

            @starting-style {
              opacity: 0;
            }
          }
        }
      }
    }

    &:not(.extended) {
      width: 2.8rem;
      transition-delay: 0.2s;

      r-vertical-nav-group {
        .group-wrapper {
          padding-inline: 0.77rem;
          transition-delay: 0.2s;
          transition-property: padding-inline;

          .group-content {
            opacity: 0;
            display: none;
          }

          .group-arrow {
            opacity: 0;
            display: none;
          }
        }

        .nested-wrapper {
          padding-left: 0rem;
          transition-delay: 0.2s;
        }
      }

      r-vertical-nav-item {
        .item-wrapper {
          padding-inline: 0.77rem;
          transition-delay: 0.2s;
          transition-property: padding-inline;

          .item-content {
            opacity: 0;
            display: none;
          }
        }
      }

      r-vertical-nav-section {
        .section-title {
          opacity: 0;
          display: none;
        }
      }
    }
  }
}
