:root {
  --app-background: #ffffff;
  --background: #ffffff;
  --foreground: #5a5c5b;
  --primary: #ffdf50;
  --primary-foreground: #98811b;
  --secondary: #f6f6f6;
  --secondary-foreground: #5a5c5b;
  --error: #ffcccc;
  --error-foreground: #c40000ab;
  --input-background: #f6f6f6;
  --input-foreground: #5a5c5b;
}
