@import "fonts.css";
@import "./components/components.css";

* {
  font-family: "Inter", sans-serif;
  outline-color: var(--primary);
}

:root {
  --roundness: 0.5rem;
  --button-padding-inline: 1rem;
}
